.sidebar {
    height: 100vh;
    width: 80px;
    background-color: #292929;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 20px;
    font-family: 'DMSans';
    transition: width 1s ease;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar:hover {
    width: 310px;
}

.sidebar-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.sidebar-menu li {
    padding: 15px;
    text-align: left;
    position: relative;
}

.sidebar-menu li a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 5px;
    white-space: nowrap;
    overflow: hidden;
}

.sidebar-menu li a span {
    display: none;
}

.sidebar:hover li a span {
    display: inline;
}

.sidebar-menu li:hover::before {
    content: "";
    position: absolute;
    left: 0; 
    top: 50%;
    transform: translateY(-50%);
    width: 5px; 
    height: 60%; 
    background-color: #FFC211; 
    border-radius: 3px;
}

.user-div {
    background-color: #323232;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin: 0 auto 20px auto;
    transition: width 1s ease, height 1s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.sidebar:hover .user-div {
    width: 90%;
    height: 70px;
    border-radius: 10px;
    justify-content: flex-start;
    padding-left: 10px;
}

.outline {
    stroke: #FFC211;
    stroke-width: 1;
    color: #292929;
}

.sidebar-menu li a:hover {
    color: #FFC211;
}

.bottom {
    margin-top: auto;
}

.profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: white;
    flex-shrink: 0;
}

.user-info {
    display: none;
    color: white;
    margin-left: 10px;
    white-space: nowrap;
}

.sidebar:hover .user-info {
    display: block;
}
