#verif-div {
    width: 600px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 150px
  }
  .timer {
    color: white;
  }

  .code-input {
    width: 7%; 
    height: 40px;
    padding: 20px;
    margin: 10px 0;
    border-width: 1px;
    border-radius: 20px;
    text-align: center;
    font-size: 40px;
    margin: 5px;
    font-family: 'DMSans';
  }
  .code-container {
    text-align: center;
    margin-left: 20px;
  }